/* App.css */
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.appHeader {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.appMainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
}

.appFooter {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
